.css-0{
    padding: 0px 50px !important;
    width: 80%;
    margin: auto;
}
/* 表示順タブ */
.order{
    padding: 0px 50px !important;
    width: 80%;
    margin: auto;
    text-align: center;
    color:#007bff;
}
.order-list{
    padding: 0px 50px !important;
    width: 80%;
    margin: auto;
    text-align: center;
    color:#007bff;
}
.css-135qdec {
    padding:10px !important;
}

.css-k008qs {
    justify-content: space-between;
}

/* .css-1ghv0ka-MuiTypography-root{
    padding-top:40px!important;
    padding-bottom: 20px !important;
    text-align: center !important;
} */
h2{
    padding-top:40px!important;
    padding-bottom: 20px !important;
    text-align: center !important;
}

/* .css-1vtbjnd-MuiTypography-root-MuiLink-root{
    padding-bottom:20px !important;
    justify-content: center !important;
} */
.comment-form{
    text-align: center !important;
    color:#007bff;
    width: 100%;
    margin-bottom: 70px;
}
.dialogspace{
    width: 100% !important;
}
.MuiPaper-root{
    width: 100%;
}

form{
    text-align: center;
    padding: 10px 0px !important;
}

.css-xn6ruc>:not(style) {
    width: 35ch !important;
}
/* 送信ボタン */
.css-0{
    text-align: center;
}
/* サインアップボタン */
.css-qxh7fn{
    width: auto !important;
}
.MuiButton-containedPrimary{
    color:#007bff !important;
    font-size: 1.2em;
    margin: 30px 0 !important; 
}

 /* ボタンの幅 */
.css-187v77l {
    padding-left: 5px !important;
}
@media (min-width:960px){
    .css-0{
        padding: 0px 50px !important;
        width: 60%;
        margin: auto;
    }
}